body{
    margin: auto;
    overflow: hidden;

}

.clearfix:after{
    content: "";
    clear:both;
}
header{
    
    display: inline-block;
    text-align: center;
    width: 100%;
    min-height: 500px;
    position: relative;
    background: url(https://huckberry.imgix.net/uploads/post/image/1664/hero_Huckberry_Southern-Gentleman_Tinder-to-Sprinter_header.jpg) no-repeat;
    background-size: cover;
    border-bottom: 1px solid salmon;
    margin-bottom: 0%;
}
header img{
    width: 300px;
} 
header h1{
    color: #ffd711;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300%;
}

.nav{
    margin: 0 auto;
    display:block;
    /* top:440px; */
    bottom: 0;
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 3px;
    background-color: rgb(27, 247, 170);
}
.nav a img{
    float: right;
    margin-right: 20px;
    width: 60px;
}
.home-icon{
    float: left;
}
main{
    display:inline-block;
    background-color: rgb(245, 247, 244);
    width: 100%;
}

.hidden{
    display:none;
}
.recipe{
    display: inline-block;
    text-align: center;
    padding: 7px;
    width: 20%;
    background-color: rgb(219, 224, 217);
    margin: 1% 1%;
    
    border-radius: 5px;
}
.recipe img{
    height: 100px;
    margin: 1%;
    border: 2px solid brown;
    transition: transform .2s;
}
.button{
    display: inline-block;
    text-decoration: none;
    border: 2px solid black;
    background: white;
    border-radius: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.button:hover{
    background: gray;
}
.recipe > div{
    display: block;
    text-align: right;
}
.recipe-container h1{
    text-align: center;
}

.recipe .recipe-text{
    display: none;
}
.zoom:hover {
    transform: scale(1.5);
}
footer{
    display:inline-block;
    border-top: 1px solid salmon;
    min-height: 80px;
    text-align: right;
    width: 100%;
    background-color: rgb(219, 224, 217);
}
footer p {
    margin-top: 30px;
    padding-right: 2%;
}
.header-stuff{
    display: inline-block;
    text-align: center;
    height: 20%;
}
 .recipe-author{
    display: inline-block;
    text-align: left;
    margin-right: 30%;
} 
#welcome-page{
    top:0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 0, 0.3);
    text-align: center;
    opacity: 50%;
}
#welcome-container{
    top: 50%;
    display: inline-block;
    position: relative;
    text-align: center;
}
#welcome-container > form{
    background: rgba(255, 165, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    
}
#create-recipe-form{
    text-align: center;
}