body{
    margin: auto;
    overflow: hidden;
    font-family: sans-serif;
}

.clearfix:after{
    content: "";
    clear:both;
}
header{
    display: inline-block;
    text-align: center;
    width: 100%;
    min-height: 500px;
    position: relative;
    background: url(https://huckberry.imgix.net/uploads/post/image/1664/hero_Huckberry_Southern-Gentleman_Tinder-to-Sprinter_header.jpg) no-repeat;
    background-size: cover;
    border-bottom: 1px solid salmon;
    margin-bottom: 0%;
}
header img{
    width: 300px;
} 
header h1{
    padding: 20px;
    color: #ffd711;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300%;
    background: rgba(0,0,0,0.45);
}

.nav{
    margin: 0 auto;
    display:block;
    /* top:440px; */
    bottom: 0;
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 3px;
    background-color: rgb(27, 247, 170);
}
.nav a img{
    float: right;
    margin-right: 20px;
    width: 60px;
}
.home-icon{
    float: left;
}
main{
    display:inline-block;
    background-color: rgb(245, 247, 244);
    width: 100%;
}

.hidden{
    display:none;
}
.recipe{
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 15px 15px 15px 180px;
    margin: 0 0 2.5% 1.5%;
    width: 23%;
    min-height: 70px;
    background: #FFF;
    text-align: left;
    box-sizing: border-box;
    transition: 0.2s ease-out width;
    overflow: hidden;
}
.recipe > div{
    display: block;
    text-align: right;
}
.recipe-container {
    padding-top: 2.5%;
}
.recipe-container h1{
    text-align: center;
}

.recipe .recipe-text{
    width: 0;
    height: 0;
    text-align: left;
    overflow: hidden;
    transition: 0.2s ease-out all;
}
.recipe-open { 
    width: 60%;
}
.recipe-open .recipe-text {
    width: 100%;
    height: 100%;
}
.recipe img{
    position: absolute;
    left: 15px;
    top: 15px;
    width: 150px;
    height: 100px;
}

.recipe h2 {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.button{
    display: inline-block;
    text-decoration: none;
    border: 2px solid black;
    background: white;
    border-radius: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.button.hidden {
    display: none;
}
.button:hover{
    background: gray;
}
.zoom {
    transition: 0.1s linear transform;
}
.zoom:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.25);
}
footer{
    display:inline-block;
    border-top: 1px solid salmon;
    min-height: 80px;
    text-align: right;
    width: 100%;
    background-color: rgb(219, 224, 217);
}
footer p {
    margin-top: 30px;
    padding-right: 2%;
}
.header-stuff{
    display: inline-block;
    text-align: center;
    height: 20%;
}
 .recipe-author{
    text-align: left;
} 
#welcome-page{
    top:0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 0, 0.3);
    text-align: center;
    opacity: 50%;
}
#welcome-container{
    top: 50%;
    display: inline-block;
    position: relative;
    text-align: center;
}
#welcome-container > form{
    background: rgba(255, 165, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    
}
#create-recipe-form{
    display:none;
    padding: 20px;
    width: 50%;
}


.form-input {
    margin: 15px 0;
    width: 100%;
  }
  .form-input label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 45px;
  }
  .form-input .placeholder {
    position: absolute;
    display: block;
    top: 23px;
    z-index: 2;
    font-size: 16px;
    transition: all 200ms ease-in-out;
    width: 100%;
    cursor: text;
  }
  .form-input input,
  .form-input textarea {
    z-index: 1;
    width: 100%;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid grey;
    transition: border-color 200ms ease-in-out;
    outline: none;
    padding: 0;
    margin: 15px 0 0;
  }
  .form-input textarea {
    min-height: 30px;
    padding: 8px 0;
  }
  .form-input input {
    height: 30px;
  }
  .form-input input:focus,
  .form-input input:valid,
  .form-input textarea:focus,
  .form-input textarea:valid {
    border-bottom: 2px solid orange;
  }
  .form-input input:focus + .placeholder,
  .form-input input:valid + .placeholder,
  .form-input textarea:focus + .placeholder,
  .form-input textarea:valid + .placeholder {
    top: 0;
    cursor: inherit;
    font-size: 14px;
    color: orange;
  }
  

@media all and (max-width: 1024px) {    
    .recipe {
        width: 30%;
    }

    .recipe-open {
        width: 95%;
    }

    .zoom:hover {
        transform: none;
    }
}


@media all and (max-width: 768px) {    
    .recipe, .recipe-open {
        width: 95%;
    }

    .zoom:hover {
        transform: none;
    }
}


